<h1><%= @cocktail.name %></h1>
<%= cl_image_tag @cocktail.cocktail_img, height: 300, width: 400, crop: :fill %>

<h3>Select an ingredient</h3>
	<div class="ingredient-card">
		  <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.input :ingredient_id, collection: @ingredients  %>
          <%= f.input :description %>
          <%= f.submit "add an ingredient", class: "btn btn-primary" %>
        <% end %>
	</div>